<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Music Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="../../../ExtrernalLibs/libs/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="Scripts/app.js"></script>
</head>
<body ng-app="echonest" ng-controller="StartCtrl" style="background-color: #fff">

<div class="container">
    <h2 class="page-header"><span class="glyphicon glyphicon-music"></span> Online Music Search</h2>
    <div class="row">
    <div class="col-md-3">
        <div class="well">
        <div class="container-fluid">
            <legend>Artist Search</legend>
                <label class="col-sm-2 control-label">Name</label>
                <input type="text"
                   ng-model="vm.selected"
                   typeahead-wait-ms="1000"
                   typeahead="artist as artist.name for artist in vm.findArtists($viewValue)"
                   class="form-control">
        </div>

        </div>
    </div>
    <div class="col-md-9" ng-show="vm.selectedArtist">
        <h2>{{vm.selectedArtist.name}}</h2>
        <tabset justified="true">
            <tab heading="Images">
                <carousel interval="5000">
                    <slide ng-repeat="image in vm.selectedArtist.images" active="slide.active">
                        <img ng-src="{{image.url}}" style="margin:auto; height: 305px">
                    </slide>
                </carousel>
            </tab>
            <tab heading="Video">
                <div ng-repeat="vid in vm.selectedArtist.video">
                    <iframe style="float:left;" width="420" height="315" ng-src="{{vm.cleanYoutubeUrl(vid.url)}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </tab>
        </tabset>


    </div>

    </div>
</div>


</body>
</html>