<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>05 - Filters</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.angularjs.org/1.2.9/angular.js"></script>
</head>
<body ng-app="githubViewer">
<div class="container" ng-controller="MainController">
        <h1 class="page-header">Github Viewer</h1>

        <br />

        <form class="form-inline" ng-submit="searchUser(username)">
            <label>Search Github user: </label>
            <input class="form-control" type="text" ng-model="username"/>
            <button type="submit" class="btn btn-default" >Search</button>
        </form>

        <br />

        <div ng-show="user">
            <div>
                <h3>{{user.name}}</h3>
                <img ng-src="https://www.gravatar.com/avatar/{{user.gravatar_id}}">
            </div>

            <br>

            <form class="form-inline">
                <label>Filter: </label>
                <input class="form-control" placeholder="Filter text" type="text" ng-model="query">

                <label>Order By: </label>
                <select class="form-control" ng-model="orderByProperty">
                    <option value="-stargazers_count">Stars</option>
                    <option value="name">Name</option>
                    <option value="description">Description</option>
                    <option value="rating">Rating</option>
                </select>
            </form>

            <br>

            <table class="table table-hover">
                <thead>
                    <th>
                        Name
                    </th>
                    <th>
                        Stars
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Rating
                    </th>
                </thead>
                <tbody ng-init="rating = 0">
                    <tr ng-repeat="repo in repos | filter:query | orderBy:orderByProperty">
                        <td>
                            {{repo.name}}
                        </td>
                        <td>
                            {{repo.stargazers_count}}
                        </td>
                        <td>
                            {{repo.description}}
                        </td>
                        <td my-rating-directive rating-value="rating" max="5" on-rating-selected="logRating(rating)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
<script src="app.js"></script>
<script src="directives.js"></script>
</body>
</html>